<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="/greet" method="GET" >
        <label for="user_name">First name:</label><br>
        <input type="text" id="user_name" name="user_name"><br>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>
